/* COULEURS */
/* REBOOT CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #F2FCF2;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 100vh;
}

:focus {
  outline-offset: 2px;
  outline: 2px solid #001A00;
}

/* POLICES ET ICONS */
@font-face {
  font-family: "Dosis";
  src: url(../fonts/Dosis-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Heebo";
  src: url(../fonts/Heebo-VariableFont_wght.ttf) format("truetype");
}
html {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #001A00;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

p a {
  text-decoration: none;
  color: #4D9945;
  transition: all 0.2s ease;
}
p a:hover, p a:focus {
  color: #74E66E;
}

@font-face {
  font-family: "Material Symbols";
  font-style: normal;
  src: url(../fonts/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf) format("truetype");
}
.ms, .ms-48, .ms-40, .ms-24, .ms-20, nav[aria-label=breadcrumb] ul li:not(:last-child):after {
  font-family: "Material Symbols";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.ms-20, nav[aria-label=breadcrumb] ul li:not(:last-child):after {
  font-size: 20px;
}
.ms-24 {
  font-size: 24px;
}
.ms-40 {
  font-size: 40px;
}
.ms-48 {
  font-size: 48px;
}
.ms-fill {
  font-variation-settings: "FILL" 1;
}

:hover > .ms-fill-hover, :focus > .ms-fill-hover {
  font-variation-settings: "FILL" 1;
}

/* IMAGES */
img {
  max-width: 100%;
  max-height: 100%;
}
img.cover {
  width: 100%;
  corner-shape: squircle;
  border-radius: 30px;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(55, 77, 53, 0.2);
}

picture {
  display: block;
}
picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* BOUTONS & TAGS */
.btn, .btnSecondaire, .btnPrincipal {
  display: inline-flex;
  gap: 3px;
  align-items: center;
  padding: 5px 10px;
  text-decoration: none;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  border-radius: 30px;
  corner-shape: superellipse(1.6);
  transition: all 0.2s ease;
  color: #4D9945;
}
.btn:hover, .btnSecondaire:hover, .btnPrincipal:hover, .btn:focus, .btnSecondaire:focus, .btnPrincipal:focus {
  color: #374D35;
}

.btnPrincipal {
  background: #374D35;
  color: #F2FCF2;
  border: solid 2px #374D35;
}
.btnPrincipal:hover, .btnPrincipal:focus {
  background: #F2FCF2;
  color: #374D35;
}

.btnSecondaire {
  background: #F2FCF2;
  color: #374D35;
  border: solid 2px #374D35;
}
.btnSecondaire:hover, .btnSecondaire:focus {
  background: #374D35;
  color: #F2FCF2;
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  text-decoration: none;
  line-height: 1;
  border-radius: 999px;
  background: #4D9945;
  color: #F2FCF2;
  font-size: 0.8em;
  transition: all 0.2s ease;
}
.tag:hover, .tag:focus {
  opacity: 0.8;
}

/* HEADER */
header {
  margin: 20px auto;
  text-align: center;
}
header img {
  height: 80px;
}
header menu {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 10px;
}
header menu li {
  flex: 1;
}
header menu li a {
  display: block;
  corner-shape: squircle;
  border-radius: 30px;
  padding: 10px;
  background: #F2FCF2;
  text-decoration: none;
  text-align: center;
  color: #4D9945;
  line-height: 1;
  box-shadow: 0 0 10px rgba(55, 77, 53, 0.2);
  transition: all 0.2s ease;
}
header menu li a p {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  margin: 0;
}
header menu li a:hover, header menu li a:focus {
  background: #4D9945;
  color: #F2FCF2;
}

/* FIL D'ARIANE */
nav[aria-label=breadcrumb] ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav[aria-label=breadcrumb] ul li a {
  color: #4D9945;
  text-decoration: none;
  transition: all 0.2s ease;
}
nav[aria-label=breadcrumb] ul li a:hover {
  color: #374D35;
}
nav[aria-label=breadcrumb] ul li a[aria-current=page] {
  color: #001A00;
}
nav[aria-label=breadcrumb] ul li:not(:last-child):after {
  vertical-align: sub;
  content: "chevron_right";
}

/* CONTENU PRINCIPAL */
main {
  padding-bottom: 20px;
}
main h1 {
  text-align: center;
}
main .btnPrincipal {
  display: flex;
  justify-self: center;
}

/* EVENT CARDS */
#prochainsEvents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
}
#prochainsEvents h2, #prochainsEvents > a {
  grid-column: 1/-1;
  margin: 0 auto;
}

@media screen and (max-width: 100vh) {
  #prochainsEvents {
    grid-template-columns: 1fr;
  }
}
.eventCard {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  background: #fff;
  padding: 10px;
  corner-shape: squircle;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(55, 77, 53, 0.2);
  gap: 10px;
}
.eventCard picture, .eventCard .tags, .eventCard > a {
  grid-column: 1/-1;
}
.eventCard .tags {
  display: flex;
  gap: 5px;
  align-items: center;
}
.eventCard img {
  corner-shape: squircle;
  border-radius: 20px;
  aspect-ratio: 4/3;
}
.eventCard .date {
  display: flex;
  flex-flow: column;
  background: #374D35;
  padding: 2px;
  border-radius: 10px;
  height: 50px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.eventCard .date p {
  font-family: "Dosis", sans-serif;
  line-height: 1;
  margin: auto;
  color: #F2FCF2;
}
.eventCard .date p:first-child {
  font-size: 1.5em;
  font-weight: bold;
}
.eventCard .date p:last-child {
  font-size: 0.8em;
}
.eventCard h3 {
  margin: 0;
}
.eventCard .btnSecondaire {
  justify-self: right;
}

/* FOOTER */
footer {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  background: #374D35;
  align-items: center;
  corner-shape: squircle;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(55, 77, 53, 0.2);
}
footer menu {
  flex: 1 50%;
  list-style: none;
  margin: 0;
  padding: 20px;
}
footer menu a {
  text-decoration: none;
  color: #F2FCF2;
  line-height: 2;
  transition: all 0.2s ease;
}
footer menu a:hover, footer menu a:focus {
  color: #74E66E;
}
footer div {
  flex: 1 50%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer div a, footer div img {
  height: 30px;
  transition: all 0.2s ease;
}
footer div a :hover, footer div img :hover {
  transform: scale(1.1);
}
footer p {
  flex: 1 100%;
  text-align: center;
  color: #F2FCF2;
  font-size: 0.8em;
}

@media screen and (max-width: 100vh) {
  footer {
    flex-flow: column nowrap;
    gap: 20px;
  }
  footer menu {
    text-align: center;
  }
  footer menu, footer nav, footer div {
    flex: 100%;
  }
}/*# sourceMappingURL=style.css.map */