@use 'variables' as var;
@use 'typo';
@use 'ariane';

/* REBOOT CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background: var.$blanc;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 100vh;
}

:focus{
    outline-offset: 2px;
    outline: 2px solid var.$noir;
}

/* IMAGES */

img{
    max-width: 100%;
    max-height: 100%;
    &.cover{
        width: 100%;
        object-fit: cover;
        corner-shape: squircle;
        border-radius: 30px;
        margin: 10px auto;
        box-shadow: var.$ombre;
    }
}

picture{
    display: block;
    img{
        width: 100%;
        object-fit: cover;
    }
}

/* BOUTONS & TAGS */

.btn{
    display: inline-flex;
    gap: 3px;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    font-family: typo.$titre;
    font-weight: bold;
    border-radius: 30px;
    corner-shape: superellipse(1.6);
    transition: all 0.2s ease;
    color: var.$vert;
    &:hover, &:focus{
        color: var.$vertFonce;
    }
}

.btnPrincipal{
    @extend .btn;
    background: var.$vertFonce;
    color: var.$blanc;
    border: solid 2px var.$vertFonce;
    &:hover, &:focus{
        background: var.$blanc;
        color: var.$vertFonce;
    }
}

.btnSecondaire{
    @extend .btn;
    background: var.$blanc;
    color: var.$vertFonce;
    border: solid 2px var.$vertFonce;
    &:hover, &:focus{
        background: var.$vertFonce;
        color: var.$blanc;
    }
}

.tag{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    text-decoration: none;
    line-height: 1;
    border-radius: 999px;
    background: var.$vert;
    color: var.$blanc;
    font-size: 0.8em;
    transition: all 0.2s ease;
    &:hover, &:focus{
        opacity: 0.8;
    }
}

/* HEADER */

header{
    margin: 20px auto;
    text-align: center;
    img{
        height: 80px;
    }
    menu{
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        gap: 10px;
        li{
            flex: 1;
            a{
                display: block;
                corner-shape: squircle;
                border-radius: 30px;
                padding: 10px;
                background: var.$blanc;
                text-decoration: none;
                text-align: center;
                color: var.$vert;
                line-height: 1;
                box-shadow: var.$ombre;
                transition: all 0.2s ease;
                p{
                    font-family: typo.$titre;
                    font-weight: bold;
                    margin: 0;
                }
                &:hover, &:focus{
                    background: var.$vert;
                    color: var.$blanc;
                }
            }
        }
    }
}

/* CONTENU PRINCIPAL */

main{
    padding-bottom: 20px;
    h1{
        text-align: center;
    }
    .btnPrincipal{
        display: flex;
        justify-self: center;
    }
}

/* EVENT CARDS */

#prochainsEvents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    h2, > a{
        grid-column: 1 / -1;
        margin: 0 auto;
    }
}

@media screen and (max-width: 100vh) {
    #prochainsEvents{
        grid-template-columns: 1fr;
    }
}

.eventCard{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    background: #fff;
    padding: 10px;
    corner-shape: squircle;
    border-radius: 30px;
    box-shadow: var.$ombre;
    gap: 10px;
    picture, .tags, > a{
        grid-column: 1 / -1;
    }
    .tags{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    img{
        corner-shape: squircle;
        border-radius: 20px;
        aspect-ratio: 4/3;
    }
    .date{
        display: flex;
        flex-flow: column;
        background: var.$vertFonce;
        padding: 2px;
        border-radius: 10px;
        height: 50px;
        aspect-ratio: 1/1;
        overflow: hidden;
        p{
            font-family: typo.$titre;
            line-height: 1;
            margin: auto;
            color: var.$blanc;
            &:first-child{
                font-size: 1.5em;
                font-weight: bold;
            }
            &:last-child{
                font-size: 0.8em;
            }
        }
    }
    h3{
        margin: 0;
    }
    .btnSecondaire{
        justify-self: right;
    }
}

/* FOOTER */

footer{
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    background: var.$vertFonce;
    align-items: center;
    corner-shape: squircle;
    border-radius: 30px;
    box-shadow: var.$ombre;
    menu{
        flex: 1 50%;
        list-style: none;
        margin: 0;
        padding: 20px;
        a{
            text-decoration: none;
            color: var.$blanc;
            line-height: 2;
            transition: all 0.2s ease;
            &:hover, &:focus{
                color: var.$vertClair;
            }
        }
    }
    div{
        flex: 1 50%;
        display: flex;
        justify-content: center;
        gap: 20px;
        a, img{
            height: 30px;
            transition: all 0.2s ease;
            :hover{
                transform: scale(1.1)
            }
        }
    }
    p{
        flex: 1 100%;
        text-align: center;
        color: var.$blanc;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 100vh) {
    footer{
        flex-flow: column nowrap;
        gap: 20px;
        menu{
            text-align: center;
        }
        menu, nav, div{
            flex: 100%;
        }
    }
}